---
permalink: /en/sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and page.url.startsWith("/en/") and not page.url.endsWith(".xml") %}
  <url>
    <loc>{{ meta.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | dateIso }}</lastmod>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
