---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set urlCount = 0 %}
{#- Singletons + listings: home, about, /thjonusta/, /geirar/, /greinar/, /verdreiknir/. -#}
{#- Excludes /en/*, *.xml, *.txt, and paginated article source templates (handled below). -#}
{%- for item in collections.all %}
  {%- if item.url
      and not item.url.startsWith("/en/")
      and not item.url.endsWith(".xml")
      and not item.url.endsWith(".txt")
      and not (item.url.startsWith("/greinar/") and item.url | length > "/greinar/".length + 1) %}
  <url>
    <loc>{{ meta.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateIso }}</lastmod>
  </url>
  {%- set urlCount = urlCount + 1 %}
  {%- endif %}
{%- endfor %}
{#- Articles: iterate the data source directly. Eleventy v3 pagination does not -#}
{#- expose each paginated output as a collections.all entry, so we must enumerate. -#}
{%- for article in articles %}
  <url>
    <loc>{{ meta.url }}/greinar/{{ article.slug }}/</loc>
    <lastmod>{{ article.date | dateIso }}</lastmod>
  </url>
  {%- set urlCount = urlCount + 1 %}
{%- endfor %}
<!-- url-count: {{ urlCount }} -->
</urlset>
