<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ meta.url }}/#organization",
  "name": "Brunaþéttingar ehf.",
  "url": "{{ meta.url }}/",
  "logo": "{{ meta.url }}/assets/img/og-default.jpg",
  "email": "bruna@bruna.is",
  "telephone": "+354-850-4405",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Reykjavík",
    "postalCode": "105",
    "addressCountry": "IS"
  },
  "inLanguage": "{{ lang }}"
}
</script>
