<div class="utility">
  <div class="container">
    <div class="row">
      <div class="left">
        <span class="pill">{{ "ui.certified" | t }}</span>
        <span>{{ "utility.tagline" | t }}</span>
      </div>
      <div class="right">
        <a href="tel:+3548504405">(+354) 850-4405</a>
        <a href="mailto:bruna@bruna.is">bruna@bruna.is</a>
        <span class="lang">
          {%- set alternates = page.url | locale_links %}
          {%- for link in alternates %}
          <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.lang | upper }}</a>
          {%- endfor %}
          <a href="{{ page.url }}" class="active" lang="{{ lang }}">{{ lang | upper }}</a>
        </span>
      </div>
    </div>
  </div>
</div>
